[Unit]
Description=Run fan PWM control

[Service]
ExecStart=%h/.dotnet/dotnet /etc/orangepi-ssd-fan/OrangePi.Fan.Service.dll
WorkingDirectory=/etc/orangepi-ssd-fan
User=root
Group=0
Type=simple
Restart=no

[Install]
WantedBy=multi-user.target