[Unit]
Description=Run status display
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStartPre=/bin/bash -c 'chmod +x /etc/orangepi-status-display/Scripts/cpu_usage.sh'
ExecStart=%h/.dotnet/dotnet /etc/orangepi-status-display/OrangePi.Display.Status.Service.dll
WorkingDirectory=/etc/orangepi-status-display
User=root
Group=0
Type=simple
Restart=no

[Install]
WantedBy=multi-user.target