[Unit]
Description=Run status display
After=docker.service
BindsTo=docker.service
ReloadPropagatedFrom=docker.service

[Service]
ExecStart=%h/.dotnet/dotnet /etc/orangepi-status-display/OrangePi.Display.Status.Service.dll
WorkingDirectory=/etc/orangepi-status-display
User=root
Group=0
Type=simple
Restart=no

[Install]
WantedBy=multi-user.target