[Unit]
Description=Run PWM control

[Service]
ExecStart=%h/.dotnet/dotnet run --project /etc/orangepi-pwm/OrangePi.PWM.csproj --property:Configuration=Release
User=root
Group=0
Type=simple
Restart=no

[Install]
WantedBy=multi-user.target